@page "/developer/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js;
@inject AppState appState;

<h3>Create</h3>

<Form ButtonText="Create Developer" dev="@dev"
      OnValidSubmit="@CreateDeveloper" />

@code {
    Developer dev = new Developer();
    async Task CreateDeveloper()
    {
        try
        {
            await http.PostAsJsonAsync("api/developer", dev);
            uriHelper.NavigateTo("developer");
        }
        catch (HttpRequestException httpRequestException)
        {
            js.InvokeVoidAsync("console.log", "http request exception entró");
            await js.SaveRegisterForCreate("api/developer", dev);
            //Método para actualizar el contador de solitudes pendientes
            await appState.NotifyUpdatePendingSyncs();
            uriHelper.NavigateTo("developer");
        }

    }
}